@import '{biglup:ui}/client/stylesheets/main';

body {
    @extend .typography;
}

// Add Product
.products-add-product-button
{
  display: inline-block;
  width: 100%;
  text-align: right;
  padding-top: 10px;
}