<div class="app-content">
  <h3>BUTTONS</h3>
  <hr>
  <h5>FLAT</h5>
  <biglup-button color="primary">Primary</biglup-button>
  <biglup-button color="accent">Accent</biglup-button>
  <biglup-button color="warn">Warn</biglup-button>
  <biglup-button color="monochrome">Monochrome</biglup-button>
  <biglup-button disabled="true" color="primary">Disabled</biglup-button>

  <h5>RAISED</h5>
  <biglup-button raised="true" color="primary">Primary</biglup-button>
  <biglup-button raised="true" color="accent">Accent</biglup-button>
  <biglup-button raised="true" color="warn">Warn</biglup-button>
  <biglup-button raised="true" color="monochrome">Monochrome</biglup-button>
  <biglup-button raised="true" color="monochrome-inverted">Inverted</biglup-button>
  <biglup-button raised="true" disabled="true" color="disabled">Disabled</biglup-button>

  <h5>ICONS</h5>
  <biglup-button icon="done" color="primary">Primary</biglup-button>
  <biglup-button icon="backup" color="accent">Accent</biglup-button>
  <biglup-button icon="favorite" color="warn">Warn</biglup-button>
  <biglup-button icon="access_time" color="monochrome">Monochrome</biglup-button>
  <biglup-button icon="block" disabled="true" color="primary">Disabled</biglup-button>
  <br><br><br>
  <biglup-button icon="done" raised="true" color="primary">Primary</biglup-button>
  <biglup-button icon="backup" raised="true" color="accent">Accent</biglup-button>
  <biglup-button icon="favorite" raised="true" color="warn">Warn</biglup-button>
  <biglup-button icon="access_time" raised="true" color="monochrome">Monochrome</biglup-button>
  <biglup-button icon="access_time" raised="true" color="monochrome-inverted">Inverted</biglup-button>
  <biglup-button icon="block" raised="true" disabled="true" color="disabled">Disabled</biglup-button>

  <h3>INPUTS</h3>
  <hr>
  <div style="width: 40%">
    <h5>PASSWORD</h5>
    <biglup-input name="sample1" hint="Password" isPassword="true" floatingHint="true"></biglup-input>
    <h5>LABELS</h5>
    <biglup-input name="sample2" hint="Type something..."></biglup-input>
    <biglup-input name="sample3" hint="Numbers Only" [filter]="InputFilters.digits"></biglup-input>
    <h5>FLOATING LABELS</h5>
    <biglup-input name="sample4" hint="Text Input" floatingHint="true"></biglup-input>
    <biglup-input name="sample5" hint="Numbers Only" floatingHint="true" [filter]="InputFilters.numerical"></biglup-input>
    <h5>DISABLED</h5>
    <biglup-input disabled name="sample6" hint="Im Disabled"></biglup-input>
    <h5>VALIDATIONS</h5>
    <biglup-input #validate errorMessage="Numbers Only!" name="validate" hint="Numbers"></biglup-input>
    <biglup-input #validate2 errorMessage="Letters Only!" name="validate2" hint="A-Z Floating" floatingHint="true"></biglup-input>
    <h5>ICONS</h5>
    <biglup-input #email name="email" hint="Email" icon="email" floatingHint="true" errorMessage="Please a valid email!"></biglup-input>
  </div>

  <h3>CHECKBOX</h3>
  <hr>
  <br>
  <biglup-checkbox>Checkbox</biglup-checkbox><br>
  <biglup-checkbox checked="true">Checked</biglup-checkbox><br>
  <biglup-checkbox disabled="true">Disabled</biglup-checkbox><br>
  <biglup-checkbox disabled="true" checked="true">Disabled Checked</biglup-checkbox>

  <h3>RADIO GROUP</h3>
  <hr>
  <br>
  <biglup-radio-group [(value)]="_radioGroupValue">
    <biglup-radio-button name="a" value="1">Option 1</biglup-radio-button>
    <biglup-radio-button name="b" value="2">Option 2</biglup-radio-button>
    <biglup-radio-button name="c" value="3">Option 3</biglup-radio-button>
    <biglup-radio-button name="d" value="4">Option 4</biglup-radio-button>
    <biglup-radio-button name="e" value="5" disabled="true">Disabled</biglup-radio-button>
  </biglup-radio-group>
  <biglup-radio-button name="f" value="6" disabled="true" selected="true">Disabled Checked</biglup-radio-button>

  <br>
  <p>Radio Group Value: {{ _radioGroupValue }}</p>

  <h3>ICON BUTTON</h3>
  <hr>
  <br>
  <biglup-icon-button icon="backup" color="red"></biglup-icon-button>
  <biglup-icon-button icon="search" color="#3f51b5"></biglup-icon-button>
  <biglup-icon-button icon="arrow_upward" color="violet"></biglup-icon-button>
  <biglup-icon-button icon="arrow_downward" color="#737373"></biglup-icon-button>
  <biglup-icon-button icon="delete" color="#737373"></biglup-icon-button>
  <biglup-icon-button icon="chevron_right" color="#737373"></biglup-icon-button>
  <biglup-icon-button icon="chevron_left" color="#737373"></biglup-icon-button>

  <h3>DATA TABLE</h3>
  <hr>
  <br>
  <div style="width:95%; margin: 0 auto;"><biglup-data-table [columns]="_dataTableColums" [data]="_dataTableData" ></biglup-data-table></div><br><br><br><br>
  <div style="width: 40%">
    <biglup-dropdown-menu title="Dinosaurs"></biglup-dropdown-menu>
  </div>
  <br><br><br><br>
</div>