<div class="app-content">
  <h3>BUTTONS</h3>
  <hr>
  <h5>FLAT</h5>
  <biglup-button color="primary">Primary</biglup-button>
  <biglup-button color="accent">Accent</biglup-button>
  <biglup-button color="warn">Warn</biglup-button>
  <biglup-button color="monochrome">Monochrome</biglup-button>
  <biglup-button disabled="true" color="primary">Disabled</biglup-button>

  <h5>RAISED</h5>
  <biglup-button raised="true" color="primary">Primary</biglup-button>
  <biglup-button raised="true" color="accent">Accent</biglup-button>
  <biglup-button raised="true" color="warn">Warn</biglup-button>
  <biglup-button raised="true" color="monochrome">Monochrome</biglup-button>
  <biglup-button raised="true" color="monochrome-inverted">Inverted</biglup-button>
  <biglup-button raised="true" disabled="true" color="disabled">Disabled</biglup-button>

  <h5>ICONS</h5>
  <biglup-button icon="fa-check" color="primary">Primary</biglup-button>
  <biglup-button icon="fa-cloud-upload" color="accent">Accent</biglup-button>
  <biglup-button icon="fa-heart" color="warn">Warn</biglup-button>
  <biglup-button icon="fa-github" color="monochrome">Monochrome</biglup-button>
  <biglup-button icon="fa-times-circle-o" disabled="true" color="primary">Disabled</biglup-button>
  <br><br><br>
  <biglup-button icon="fa-check" raised="true" color="primary">Primary</biglup-button>
  <biglup-button icon="fa-cloud-upload" raised="true" color="accent">Accent</biglup-button>
  <biglup-button icon="fa-heart" raised="true" color="warn">Warn</biglup-button>
  <biglup-button icon="fa-github" raised="true" color="monochrome">Monochrome</biglup-button>
  <biglup-button icon="fa-github" raised="true" color="monochrome-inverted">Inverted</biglup-button>
  <biglup-button icon="fa-times-circle-o" raised="true" disabled="true" color="disabled" icon="fa-times-circle-o">Disabled</biglup-button>
</div>
