<biglup-modal-message (onClose)="_onModalClose($event)"></biglup-modal-message>
<h4 class="biglup-products-title">{{ 'Appearances' | translate }}</h4>
<biglup-breadcrumb>
  <a [routerLink]="['/dashboard']"><i class="material-icons md-16">home</i>{{ 'Dashboard' | translate }}</a>
  <a class="active"><i class="material-icons md-16">brush</i>{{ 'Appearances' | translate }}</a>
</biglup-breadcrumb>

<div *ngFor="let appearance of _appearancesService.getAppearances() | async">
  {{ appearance.name }}
</div>

<div class="add-product-content">
  <biglup-paper elevation="1">
    <span><b>{{ 'Set Site Appearance' | translate }}</b></span><br>
    <div class="biglup-grid">
      <div class="biglup-cell biglup-cell-12-col">
        <label class="biglup-dropdown-menu-simple">
          <select>
            <option value="" selected> {{ "None" | translate }} </option>
          </select>
        </label>
      </div>
    </div>
  </biglup-paper>

  <div class="products-add-product-button">
    <biglup-button
      raised="true" color="primary">{{'Set' | translate }}
    </biglup-button>
  </div>

  <div class="products-add-product-button">
    <biglup-button
      [routerLink]="['/products/add-appearance']"
      raised="true" color="primary">{{'Add Appearance' | translate }}
    </biglup-button>
  </div>
</div>
