<div class="category-item">
  <a [routerLink]="['product', model._id]">
    <div>
      <div class="category-item-images">
        <div class="category-item-top">
          <img [src]="model.images[0].url" alt="" />
        </div>
        <img class="category-item-bottom" [src]="model.images[1].url" alt="" />
      </div>
      <div class="category-item-description">
        <p>{{ model.title | mongoTranslate }}</p>
        <h6>{{ model.price }} -{{ model.discount }}%</h6>
      </div>
    </div>
  </a>
</div>
