<!--Product panel-->
<div class="jumbotron" *ngIf="_product">
  <!--Grid-->
  <div class="container-fluid">
    <div class="row">
      <!--First column-->
      <div class="col-md-4">
        <h4>{{ 'Gallery' | translate }}</h4>

        <hr>

        <product-images-carousel *ngIf="_product.images" [images]="_product.images"></product-images-carousel>
      </div>

      <!--Second column-->
      <div class="col-md-4">
        <!--Title-->
        <h4>{{ _product.title | mongoTranslate }}</h4>

        <hr>

        <!--Price-->
        <div class="price">
          <p>
            <span class="price-after">
              <i class="fa fa-usd"></i> {{ _product.price }}
            </span>
            <span class="price-before">
              <del>{{ _product.price + _product.price * (_product.discount / 100) }}</del>
            </span>

            <span class="label btn btn-primary">-{{ _product.discount }}%</span>
          </p>
        </div>

        <p>
          <i class="fa fa-arrows-v"></i> {{ 'Size:' | translate }} {{ _product.size | mongoTranslate }}
        </p>

        <p>
          {{ 'Color:' | translate }} {{ _product.color | mongoTranslate }}
        </p>

        <!--Call to action-->
        <p>
          <!--TODO translate service-->
          <button class="btn btn-default">{{ 'Buy now' | translate }}</button>
        </p>

        <p>
          <i class="fa fa-list"></i> {{ 'SKU:' | translate }} {{ _product.sku }}
        </p>

        <hr>

        <!--Social buttons-->
        <!--TODO add real social links-->
        <p>{{ 'Share with your friends!' | translate }}</p>
        <ul class="inline-ul">
          <li><a class="btn product-social-btn btn-fb"><i class="fa fa-facebook"> </i></a></li>
          <li><a class="btn product-social-btn btn-tw"><i class="fa fa-twitter"> </i></a></li>
          <li><a class="btn product-social-btn btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
          <li><a class="btn product-social-btn btn-li"><i class="fa fa-linkedin"> </i></a></li>
          <li><a class="btn product-social-btn btn-git"><i class="fa fa-github"> </i></a></li>
          <li><a class="btn product-social-btn btn-pin"><i class="fa fa-pinterest"> </i></a></li>
          <li><a class="btn product-social-btn btn-ins"><i class="fa fa-instagram"> </i></a></li>
        </ul>
      </div>
      <!--/.Second column-->

      <!--Third column-->
      <div *ngIf="_category" class="col-md-4">
        <h4>
          From
          <a [routerLink]="['/category', _category._id]">
            {{ _category.name | mongoTranslate }}
          </a>
        </h4>
        <p>{{ _product.description | mongoTranslate }}</p>
        <a class="btn btn-primary">{{ 'Some Action!' | translate }}</a>
      </div>
    </div>
  </div>
</div>
