<!--Product panel-->
<div class="jumbotron" *ngFor="let product of _product">
  <!--Grid-->
  <div class="container-fluid">
    <div class="row">
      <!--First column-->
      <div class="col-md-4">
        <h4>Gallery</h4>

        <hr>

        <product-images-carousel [images]="_productImages"></product-images-carousel>
      </div>

      <!--Second column-->
      <div class="col-md-4">
        <!--Title-->
        <h4>{{ product.title | mongoTranslate }}</h4>

        <hr>

        <!--Price-->
        <div class="price">
          <p>
            <span class="price-after">
              <i class="fa fa-usd"></i> {{ product.price }}
            </span>
            <span class="price-before">
              <del>{{ product.price + product.price * (product.discount / 100) }}</del>
            </span>

            <span class="label btn btn-primary">-{{ product.discount }}%</span>
          </p>
        </div>

        <p>
          <i class="fa fa-arrows-v"></i> Size: {{ product.size }}
        </p>

        <p>
          Color: {{ product.color }}
        </p>

        <!--Call to action-->
        <p>
          <!--TODO translate service-->
          <button class="btn btn-default">Buy now</button>
        </p>

        <p>
          <i class="fa fa-list"></i> Sku: {{ product.sku }}
        </p>

        <hr>

        <!--Social buttons-->
        <!--TODO add real social links-->
        <p>Share with your friends!</p>
        <ul class="inline-ul">
          <li><a class="btn product-social-btn btn-fb"><i class="fa fa-facebook"> </i></a></li>
          <li><a class="btn product-social-btn btn-tw"><i class="fa fa-twitter"> </i></a></li>
          <li><a class="btn product-social-btn btn-gplus"><i class="fa fa-google-plus"> </i></a></li>
          <li><a class="btn product-social-btn btn-li"><i class="fa fa-linkedin"> </i></a></li>
          <li><a class="btn product-social-btn btn-git"><i class="fa fa-github"> </i></a></li>
          <li><a class="btn product-social-btn btn-pin"><i class="fa fa-pinterest"> </i></a></li>
          <li><a class="btn product-social-btn btn-ins"><i class="fa fa-instagram"> </i></a></li>
        </ul>
      </div>
      <!--/.Second column-->

      <!--Third column-->
      <div class="col-md-4">
        <h4>
          From
          <a *ngFor="let category of _category" [routerLink]="['/category', category._id]">
            {{ category.name | mongoTranslate }}
          </a>
        </h4>
        <p>{{ product.description | mongoTranslate }}</p>
        <a class="btn btn-primary">Some Action!</a>
      </div>
    </div>
  </div>
</div>
