<biglup-modal-message (onClose)="_onModalClosed($event)"></biglup-modal-message>
<div class="add-collection-content">
  <h4 class="biglup-add-collection-title">{{ 'Add Collection' | translate }}</h4>
  <biglup-breadcrumb>
    <a [routerLink]="['/dashboard']"><i class="material-icons md-16">home</i>{{ 'Dashboard' | translate }}</a>
    <a [routerLink]="['/collections']"><i class="material-icons md-16">card_travel</i>{{ 'Collections' | translate }}</a>
    <a *ngIf="!_isEditMode" class="active"><i class="material-icons md-16">add_circle_outline</i> {{ 'Add Collection' | translate }}</a>
    <a *ngIf="_isEditMode" class="active"><i class="material-icons md-16">mode_edit</i> {{ 'Edit Collection' | translate }}</a>
  </biglup-breadcrumb>

  <div *ngIf="_category.name[0]">
    <biglup-tabs>
      <biglup-tab *ngFor="let lang of _i18nService.getSupportedLanguages()" [title]="_i18nService.getOriginalName(lang)">
        <br>
        <i18n-input [isRequiered]="true" [(model)]="_i18nNameReferenceMap[lang]" placeholder="{{ 'Title' | translate }}" [language]="_i18nService.getOriginalName(lang)"></i18n-input>
        <br>
        <br>
        <span><b>{{ 'Description' | translate }}</b></span>
        <i18n-text-editor [(model)]="_i18nInfoReferenceMap[lang]"></i18n-text-editor>
      </biglup-tab>
    </biglup-tabs>

    <biglup-paper elevation="1">
      <span><b>{{ 'Parent Category' | translate }}</b></span><br><br>

      <label class="biglup-dropdown-menu-simple">
        <select [(ngModel)]="_category.parentCategory">
          <option value="" selected> {{ "None" | translate }} </option>
          <option *ngFor="let category of _getCategoriesObservable() | async" [value]="category._id" > {{ category.name | mongoTranslate }} </option>
        </select>
      </label>

    </biglup-paper>

    <biglup-paper elevation="1">
      <span><b>{{ 'Visibility' | translate }}</b></span><br><br>
      <biglup-checkbox [(checked)]="_category.active">
        {{ "Show this collection in the store" | translate }}
      </biglup-checkbox>
    </biglup-paper>
  </div>
  <br>
  <biglup-button class="add-collection-left-buttons add-collection-buttons"
                 raised="true"
                 *ngIf="_isEditMode"
                 (click)="_deleteCategory()"
                 color="warn">{{'Delete' | translate }}
  </biglup-button>

  <biglup-button class="add-collection-right-buttons add-collection-buttons"
                 raised="true"
                 *ngIf="!_isEditMode"
                 (click)="_saveCategory()"
                 color="primary">{{'Create' | translate }}
  </biglup-button>

  <biglup-button class="add-collection-right-buttons add-collection-buttons"
                 raised="true"
                 *ngIf="_isEditMode"
                 (click)="_updateCategory()"
                 color="primary">{{'Update' | translate }}
  </biglup-button>

  <biglup-button class="add-collection-right-buttons add-collection-buttons-cancel"
                 raised="true"
                 (click)="_onCancel()">{{'Cancel' | translate }}
  </biglup-button>
</div>