<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-block">
          <form [formGroup]="_pwResetForm" id="password-reset-form" (submit)="_onSubmit($event)">
            <div class="md-form">
              <input type="email"
                     id="password-reset-form-email"
                     class="form-control"
                     formControlName="email">
              <label for="password-reset-form-email">Email</label>
            </div>
            <form-error [formid]="'signup-generic'"
                        [classes]="_error.cssClass"
                        [message]="_error.message"
                        *ngIf="!_pwResetForm.valid && _pwResetForm.errors"></form-error>

            <div class="md-form form-group text-xs-center" id="password-reset-form-submit">
              <button class="btn btn-primary btn-lg btn-block" [disabled]="!_pwResetForm.valid">
                {{ 'Reset password' | translate }}
              </button>
            </div>

            <div class="modal-footer">
              <div class="options">
                <p>
                  {{ 'Remember your' | translate }}
                  <a [routerLink]="['/login']">{{ 'Password' | translate }}?</a>
                </p>
                <p>
                  {{ 'Not a member' | translate }}?
                  <a [routerLink]="['/signup']">{{ 'Sign up' | translate }}</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
