<biglup-modal-message (onClose)="_onModalClose($event)"></biglup-modal-message>
<div class="inventory-content">
  <h4 class="inventory-title">{{ 'Inventory' | translate }}</h4>
  <biglup-breadcrumb>
    <a [routerLink]="['/admin/dashboard']"><i class="material-icons md-16">home</i>{{ 'Dashboard' | translate }}</a>
    <a class="active"><i class="material-icons md-16">card_travel</i>{{ 'Inventory' | translate }}</a>
  </biglup-breadcrumb>
  <biglup-data-table
    icon='card_travel'
    title="{{ 'Product Inventory List' | translate }}"
    [columns]="_dataTableColums"
    [dataStream]="_productItemsStream"
    [rowSelection]="false">
  </biglup-data-table>
</div>
<br><br>