.color-picker table {
    border: 1px solid #f0f0ee;
}
.color-picker th, td {
    border: none;
}

.color-picker td {
    height: 30px;
    width: 30px;
}

.color-picker {
    width: 212px;
    border: 1px solid #e1e1e1;
    border-top: 4px solid black;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
}

.color-picker td:hover {
    border: 1px solid #2b2e32;
}

.color-picker .color {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    height: 100%!important;
    width: 100%!important;
    margin: 0!important;
    padding: 0!important;
}

.color-picker button:hover {
    background-color: Transparent!important;
}
