<div class="modal" [@modalBackground]="_state">
  <div class="modal-content" [@modal]="_state">
    <div class="modal-header">
      <span class="close" (click)="_onButtonClick(ModalResult.None)">×</span>
      <h2 class="modal-title">{{ _title }}</h2>
    </div>
    <div class="modal-body">
      <success-animation *ngIf="_type === ModalType.Success"></success-animation>
      <error-animation *ngIf="_type === ModalType.Error"></error-animation>
      <warning-animation *ngIf="_type === ModalType.Warning"></warning-animation>
      <waiting-animation *ngIf="_type === ModalType.Waiting"></waiting-animation>
      <information-animation *ngIf="_type === ModalType.Information"></information-animation>
      <p>{{ _message }}</p>
    </div>
      <button *ngIf="_buttons === ModalButtons.Cancel|| _buttons === ModalButtons.CancelOk || _buttons === ModalButtons.CancelContinue"
              class="modal-button"
              md-raised-button
              (click)="_onButtonClick(ModalResult.Cancel)">
        {{'Cancel' | translate }}
      </button>

      <button *ngIf="_buttons === ModalButtons.Ok || _buttons === ModalButtons.CancelOk"
              class="modal-button"
              md-raised-button
              color="primary"
              (click)="_onButtonClick(ModalResult.Ok)"
              [class.modal-right-button]="_buttons === ModalButtons.CancelOk">
        {{'Ok' | translate }}
      </button>

      <button *ngIf="_buttons === ModalButtons.NoYes"
              class="modal-button"
              md-raised-button
              (click)="_onButtonClick(ModalResult.No)">
        {{'No' | translate }}
      </button>

      <button *ngIf="_buttons === ModalButtons.NoYes"
              class="modal-button modal-right-button"
              md-raised-button
              color="primary"
              (click)="_onButtonClick(ModalResult.Yes)">
        {{'Yes' | translate }}
      </button>

      <button *ngIf="_buttons === ModalButtons.CancelContinue"
              class="modal-button modal-right-button"
              md-raised-button
              color="primary"
              (click)="_onButtonClick(ModalResult.Continue)">
        {{'Continue' | translate }}
      </button>
  </div>
</div>
