<md-toolbar class="header-margin">
  <a [routerLink]="['/']">{{'E-commerce' | translate}}</a>

  <span *ngFor="let category of _categoriesService.getCategories() | async">
    <a class="nav-link" [routerLink]="['/category', category._id]">{{category.name | mongoTranslate}}</a>
  </span>

  <span class="fill-space"></span>

  <span>
    <a class="nav-link" [routerLink]="['/admin']">{{'Administration' | translate}}</a>
  </span>

  <span>
    <a (click)="_changeLanguage('zh')" rel="zh-TW"><img src="/images/zh_TW.png" alt="Chinese"/></a>
    <a (click)="_changeLanguage('en')" rel="en-US"><img src="/images/en_US.png" alt="English"/></a>
  </span>
  <span class="auth-links">
    <a class="nav-link" [routerLink]="['/login']" *ngIf="!_isLogged">{{'Login' | translate}}</a>
    <a class="nav-link" (click)="_logout()" *ngIf="_isLogged">{{'Logout' | translate}}</a>
  </span>
</md-toolbar>
