<div class="variants-content">
  <h4 class="biglup-products-title">{{ 'Edit Variants' | translate }}</h4>
  <biglup-breadcrumb>
    <a [routerLink]="['/admin/dashboard']"><i class="material-icons md-16">home</i>{{ 'Dashboard' | translate }}</a>
    <a class="active"><i class="material-icons md-16">card_travel</i>{{ 'Edit Variants' | translate }}</a>
  </biglup-breadcrumb>

  <biglup-paper elevation="1">
    <span><b>{{ 'Colors' | translate }}</b></span></br>
    <div class="biglup-grid">
      <div class="biglup-cell biglup-cell-3-col" *ngFor="let color of _variantsService.getColors() | async">
        <div class="biglup-grid">
          <div class="biglup-cell biglup-cell-4-col">
            <span style="line-height: 40px;">{{color.name | mongoTranslate }}</span>
          </div>
          <div class="biglup-cell biglup-cell-3-col">
            <div
              style="border:none; width: 40px; height: 40px; border-radius: 4px; box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12)"
              [style.background]="color.value">
            </div>
          </div>
          <div class="biglup-cell biglup-cell-5-col">
            <biglup-icon-button (click)="_onEditColor(color._id)" icon="mode_edit" color="#737373"></biglup-icon-button>
          </div>
        </div>
      </div>
    </div>
  </biglup-paper>
  <div class="variants-add-button">
    <biglup-button
      [routerLink]="['/admin/products/add-color-variant']"
      raised="true" color="primary">{{'Add Color' | translate }}
    </biglup-button>
  </div>

  <biglup-paper elevation="1">
    <span><b>{{ 'Sizes' | translate }}</b></span></br>
    <div class="biglup-grid">
      <div class="biglup-cell biglup-cell-2-col" *ngFor="let size of _variantsService.getSizes() | async">
        <div class="biglup-grid">
          <div class="biglup-cell biglup-cell-6-col">
            <span style="line-height: 40px;">{{size.size | mongoTranslate }}</span>
          </div>
          <div class="biglup-cell biglup-cell-6-col">
            <biglup-icon-button (click)="_onEditSize(size._id)" icon="mode_edit" color="#737373"></biglup-icon-button>
          </div>
        </div>
      </div>
    </div>
  </biglup-paper>
  <div class="variants-add-button">
    <biglup-button
      [routerLink]="['/admin/products/add-size-variant']"
      raised="true" color="primary">{{'Add Size' | translate }}
    </biglup-button>
  </div>

  <biglup-paper elevation="1">
    <span><b>{{ 'Materials' | translate }}</b></span></br>
    <div class="biglup-grid">
      <div class="biglup-cell biglup-cell-2-col" *ngFor="let material of _variantsService.getMaterials() | async">
        <div class="biglup-grid">
          <div class="biglup-cell biglup-cell-6-col">
            <span style="line-height: 40px;">{{material.material | mongoTranslate }}</span>
          </div>
          <div class="biglup-cell biglup-cell-6-col">
            <biglup-icon-button (click)="_onEditMaterial(material._id)" icon="mode_edit" color="#737373"></biglup-icon-button>
          </div>
        </div>

      </div>
    </div>
  </biglup-paper>
  <div class="variants-add-button">
    <biglup-button
      [routerLink]="['/admin/products/add-material-variant']"
      raised="true" color="primary">{{'Add Material' | translate }}
    </biglup-button>
  </div>
</div>