<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-block">
          <form [formGroup]="_newPwForm" id="password-reset-form" (submit)="_onSubmit($event)">
            <div class="md-form">
              <input type="password"
                     id="signup-form-password"
                     class="form-control"
                     formControlName="password">
              <label for="signup-form-password">Password</label>
            </div>

            <div class="md-form">
              <input type="password"
                     id="signup-form-confirmation"
                     class="form-control"
                     formControlName="confirmation">
              <label for="signup-form-confirmation">Confirm password</label>
            </div>
            <form-error [formId]="'signup-password'"
                        class="text-danger"
                        [message]="'The password and the confirmation provided are not matching.'"
                        *ngIf="_hasConfirmationError()"></form-error>

            <form-error [formId]="'signup-generic'"
                        [classes]="_error.cssClass"
                        [message]="_error.message"
                        *ngIf="!_newPwForm.valid && _newPwForm.errors"></form-error>

            <div class="md-form form-group text-xs-center" id="password-reset-form-submit">
              <button class="btn btn-primary btn-lg btn-block" [disabled]="!_newPwForm.valid">
                {{ 'Reset password' | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
