@import '{biglup:ui}/client/stylesheets/partials/base';

.add-color-variant-content
{
  .biglup-add-color-variant-title {
    color: $secondary-text-color;
    margin: 0;
    margin-bottom: 20px;
  }

  .biglup-paper-1 {
    width: 100%;
    margin: 0;
    margin-bottom: 24px;
  }

  .biglup-tabs-container {
    margin-left: 0;
    margin-bottom: 0;
  }

  .add-color-variant-right-buttons {
    float:right;
  }

  .add-color-variant-left-buttons {
    float:left;
  }

  .add-color-variant-buttons {
    margin-bottom: 20px!important;
  }

  .add-color-variant-buttons-cancel {
    margin-bottom: 20px!important;
    margin-right: 20px!important;
  }
}
