@import '{biglup:ui}/client/stylesheets/partials/base';

.add-product-content
{
  .add-product-variants-button-center {
    text-align: center;
  }

  .biglup-add-product-title {
    color: $secondary-text-color;
    margin: 0;
    margin-bottom: 20px;
  }

  .biglup-paper-1 {
    width: 100%;
    margin: 0;
    margin-bottom: 24px;
  }

  .biglup-tabs-container {
    margin-left: 0;
    margin-bottom: 0;
  }

  .add-product-right-buttons {
    float:right;
  }

  .add-product-left-buttons {
    float:left;
  }

  .add-product-buttons {
    margin-bottom: 20px!important;
  }

  .add-product-buttons-cancel {
    margin-bottom: 20px!important;
    margin-right: 20px!important;
  }

  #quantity > div {
    margin: 0!important;
  }

  .add-variant-product-buttons {
    button {
      position: absolute;
      top: 50%;
    }
  }
}
