@import '{biglup:ui}/client/stylesheets/partials/base';

.inventory-content
{
  .inventory-title {
    color: $secondary-text-color;
    margin: 0;
    margin-bottom: 20px;
  }

  .color-variant-label {
    color: #ff881d;
  }

  .size-variant-label {
    color: rgba(0, 129, 9, 0.67);
  }

  .material-variant-label {
    color: rgba(105, 61, 195, 0.73);
  }
}
