<div class="modal-footer" id="signup-form-oauth">
  <div class="options">
    <p>
      <button class="btn btn-fb btn-lg btn-block" (click)="_loginWithFacebook()">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        {{ 'Login with' | translate }} Facebook
      </button>
    </p>

    <p>
      <button class="btn btn-gplus btn-lg btn-block" (click)="_loginWithGoogle()">
        <i class="fa fa-google" aria-hidden="true"></i>
        {{ 'Login with' | translate }} Google
      </button>
    </p>

    <p>
      <button class="btn btn-tw btn-lg btn-block" (click)="_loginWithTwitter()">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        {{ 'Login with' | translate }} Twitter
      </button>
    </p>
  </div>
</div>
