<div *ngIf="_params" style="height: auto;" [class.wideSliderFullWidth]="_params.isFillWidth" [class.wideSliderNormalWidth]="!_params.isFillWidth">
  <swiper [config]="_config">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img style="max-width: 100%; height: auto; width: auto\9;" src="/images/1.png"/></div>
      <div class="swiper-slide"><img style="max-width: 100%; height: auto; width: auto\9;" src="/images/2.png"/></div>
      <div class="swiper-slide"><img style="max-width: 100%; height: auto; width: auto\9;" src="/images/3.png"/></div>
      <div class="swiper-slide"><img style="max-width: 100%; height: auto; width: auto\9;" src="/images/4.png"/></div>
      <div class="swiper-slide"><img style="max-width: 100%; height: auto; width: auto\9;" src="/images/5.png"/></div>
    </div>
  </swiper>
</div>