<div class="card">
  <div class="card-block">
      <div>
      <b>{{ 'Images' | translate }}</b>
        <label class="btn btn-primary btn-file select-files-button pull-right">
          {{ 'Select Files' | translate }} <input type="file" file-select style="display: none;" multiple (onSelected)="_onFileDrop($event)"/>
        </label>
      </div>
      <div #drop class="dropzone dropzone-inactive" file-drop
           (onFileDrop)="_onFileDrop($event)"
           (onDropStart)="_onDropStart($event)"
           (onDropEnds)="_onDropEnds($event)">
        <div class="instructions-container" *ngIf="_previewFiles.length === 0">
          <span class='fa fa-picture-o fa-5x'></span>
          </br>
          <span class="instructions">{{ 'Drop images to upload' | translate }}</span>
        </div>
        <div class='wrapper'>
          <div class="container" [dragula]='"second-bag"'>
            <div *ngFor="let preview of _previewFiles; let i = index" [attr.id]="i" class="preview-component">
                <image-preview (onDeleted)="_onImageDeleted($event)" [model]="preview"></image-preview>
            </div>
          </div>
        </div>
      </div>
    </br>
  </div>
</div>
