<div class="text-editor" (click)="_onTextEditorClick()">
  <div class="buttons">
    <i (click)="_onBold()"
            [ngClass]="_boldToggle ? 'active': 'inactive'"
            class="material-icons md-24"
            title="{{ 'Bold' | translate }}" unselectable="on">format_bold
    </i>

    <i (click)="_onItalic()"
            [ngClass]="_italicToggle ? 'active': 'inactive'"
            class="material-icons md-24" aria-hidden="true"
            title="{{ 'Italic' | translate }}" unselectable="on">format_italic
    </i>

    <i (click)="_onUnderline()"
            [ngClass]="_underlineToggle ? 'active': 'inactive'"
            class="material-icons md-24" aria-hidden="true"
            title="{{ 'Underline' | translate }}" unselectable="on">format_underline
    </i>

    <i (click)="_onStrikethrough()"
            [ngClass]="_strikethroughToggle ? 'active': 'inactive'"
            class="material-icons md-24 dispensable"
            aria-hidden="true"
            title="{{ 'Strikethrough' | translate }}" unselectable="on">format_strikethrough
    </i>
    <!-- TODO: Remove bootstrap dependency.
    <div class="btn-group dispensable">
      <i type="button" class="material-icons md-24" data-toggle="dropdown" title="{{ 'Font Family' | translate }}" unselectable="on">font_download</i>
      <ul class="dropdown-menu scrollable-menu font-menu" role="menu">
        <li class="font-menu font-menu-entry" *ngFor="let font of _fonts">
          <button class="font-menu font-menu-entry" (click)="_changeFontType($event.srcElement.textContent)">
            <font style="margin-left: 10px;" face="{{font}}">{{font}}</font>
          </button>
        </li>
      </ul>
    </div>

    <div class="btn-group dispensable">
      <i type="button" class="material-icons md-24" data-toggle="dropdown" title="{{ 'Font Size' | translate }}" unselectable="on">format_size</i>
      <ul class="dropdown-menu scrollable-menu sizes-menu"  role="menu">
        <li class="sizes-menu" *ngFor="let size of _sizes">
          <button class="sizes-menu" (click)="_changeFontSize($event.srcElement.textContent)">{{size}}</button>
        </li>
      </ul>
    </div>
    -->
    <i (click)="_onTextFontColor($event)"
       type="button"
       class="material-icons md-24"
       data-toggle="dropdown"
       title="{{ 'Text Color' | translate }}"
       unselectable="on">format_color_text</i>
    <color-picker #fontColor (onClear)="_onTextColorClear()" (onColorPicked)="_onTextColorChanged($event)"></color-picker>

    <i (click)="_onTextBackgroundColor($event)"
       type="button"
       class="material-icons md-24"
       data-toggle="dropdown"
       title="{{ 'Background Color' | translate }}"
       unselectable="on">format_color_fill</i>
    <color-picker #backgroundColor (onClear)="_onBackgroundColorClear()" (onColorPicked)="_onBackgroundColorChanged($event)"></color-picker>

    <div class="vr dispensable"></div>

    <i (click)="_onJustifyLeft()"
            [ngClass]="_justifyLeftToggle ? 'active': 'inactive'"
            class="material-icons md-24 dispensable"
            aria-hidden="true"
            title="{{ 'Align Left' | translate }}" unselectable="on">format_align_left
    </i>

    <i (click)="_onJustifyCenter()"
            [ngClass]="_justifyCenterToggle ? 'active': 'inactive'"
            class="material-icons md-24 dispensable"
            aria-hidden="true"
            title="{{ 'Align Center' | translate }}" unselectable="on">format_align_center
    </i>

    <i (click)="_onJustifyRight()"
            [ngClass]="_justifyRightToggle ? 'active': 'inactive'"
            class="material-icons md-24 dispensable"
            aria-hidden="true"
            title="{{ 'Align Right' | translate }}" unselectable="on">format_align_right
    </i>

    <i (click)="_onJustifyFull()"
            [ngClass]="_justifyFullToggle ? 'active': 'inactive'"
            class="material-icons md-24 dispensable"
            aria-hidden="true"
            title="{{ 'Align Justify' | translate }}" unselectable="on">format_align_justify
    </i>

    <div class="vr dispensable"></div>

    <i (click)="_onOrderedList()"
            [ngClass]="_orderedListToggle ? 'active': 'inactive'"
            class="material-icons md-24 dispensable"
            aria-hidden="true"
            title="{{ 'Ordered List' | translate }}" unselectable="on"><i class="material-icons">format_list_numbered</i>
    </i>

    <i (click)="_onUnorderedList()"
            [ngClass]="_unorderedListToggle ? 'active': 'inactive'"
            class="material-icons md-24 dispensable"
            aria-hidden="true"
            title="{{ 'Unordered List' | translate }}" unselectable="on"><i class="material-icons">format_list_bulleted</i>
    </i>

  </div>
  <div class="editablearea" #editable id="editable-area" contenteditable (click)="_onEditableClick()" (blur)="_onContentChange()">
  </div>
</div>
