$dark-primary-color:   #303F9F;
$primary-color:        #3F5AB5;
$light-primary-color:  #C5CAE9;
$text-and-icons-color: #FFFFFF;
$accent-color:         #FF5722;
$warn-color:           #F44336;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$border-color:         #BDBDBD;
$background-color:     #FFFFFF;
