@import '_material-design-colors';

/*
 * Material Design Light background theme
 */
$light-theme-background-color:           #ffffff;
$light-theme-base-color:                 #000000;
$light-theme-text-color:                 $grey-900;
$light-theme-secondary-color:            #737373;
$light-theme-button-text-and-icon-color: #ffffff;
$light-theme-disabled-color:             #9b9b9b;
$light-theme-disabled-background:        #dddddd;

/*
 * Material Design Dark background theme
 */
$dark-theme-background-color:           $grey-900;
$dark-theme-base-color:                 #ffffff;
$dark-theme-text-color:                 #ffffff;
$dark-theme-secondary-color:            #bcbcbc;
$dark-theme-button-text-and-icon-color: #ffffff;
$dark-theme-disabled-color:             #9b9b9b;
$dark-theme-disabled-background:        #dddddd;

/*
 * Primary and accent colors. See _material-design-colors.scss for more colors.
 */
$primary-color:       $indigo-500;
$light-primary-color: $indigo-100;
$dark-primary-color:  $indigo-700;
$accent-color:        $pink-a200;
$light-accent-color:  $pink-a100;
$dark-accent-color:   $pink-a400;
$warn-color:          $red-500;

$primary-text-color:         $light-theme-text-color;
$primary-background-color:   $light-theme-background-color;
$secondary-text-color:       $light-theme-secondary-color;
$button-text-and-icon-color: $light-theme-button-text-and-icon-color;
$disabled-text-color:        $light-theme-disabled-color;
$disabled-background-color:  $light-theme-disabled-background;
$divider-color:              $grey-300;
$table-hover-color:          $grey-300;
$table-selection-color:      $light-primary-color;
$error-color:                $red-500;


