@import 'mixins';
@import 'colors';

@include google-font('Roboto');
@include google-font('Roboto+Mono');

$text-color:    $primary-text-color;
$quiet-color:   $secondary-text-color;
$loud-color:    $primary-text-color;
$heading-color: $primary-text-color;

$link-color:         $accent-color;
$link-visited-color: $accent-color;
$link-hover-color:   saturate($accent-color, 20%);

$base-font-family: 'Roboto', sans-serif;
$base-font-size:   18px;
$base-font-weight: 300;

$fixed-font-family: 'Roboto Mono', monospace;
$fixed-font-size:   15px;
$fixed-line-height: 1.2;

$heading-font-family: 'Roboto', sans-serif;
$heading-font-weight: 700;

/**
 * @summary Resets inherited text style.
 */
@mixin reset-text() {
  font-family: $base-font-family;
  // We deliberately do NOT reset font-size.
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  text-align: left; // Fallback for where `start` is not supported
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}