@mixin google-font($font)
{
    $font: unquote($font);
    @import url("https://fonts.googleapis.com/css?family=#{$font}");
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}