<div class="col-sm-4">
  <div class="card">
    <div class="view overlay hm-white-slight">
      <product-images-carousel [images]="model.images"></product-images-carousel>
    </div>

    <!-- Product info -->
    <div class="card-block">
      <h4 class="card-title">
        <a [routerLink]="['product', model._id]">{{ model.title | mongoTranslate }}</a>
      </h4>
      <p class="card-text">
        <i class="fa fa-list"></i> {{ 'Sku:' | translate }} {{ model.sku }}
      </p>
      <p class="card-text">
        {{ 'Color:' | translate }} {{ model.color | mongoTranslate }}
      </p>
      <p class="card-text">
        <i class="fa fa-arrows-v"></i> {{ 'Size:' | translate }} {{ model.size | mongoTranslate }}
      </p>
      <p class="card-text">
        <i class="fa fa-usd"></i> {{ model.price }}
      </p>
      <p class="card-text">
        -{{ model.discount }}%
      </p>

      <!-- Actions -->
      <button class="btn btn-primary" (click)="_addToCart()">{{ 'Add to Cart' | translate }}</button>
    </div>
  </div>
</div>
