.add-collection-grid {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.add-collection-right-buttons {
    float:right;
}

.add-collection-left-buttons {
    float:left;
}

.add-collection-buttons {
    margin-left: 20px!important;
    margin-right: 20px!important;
}
