<div class="container-fluid">
    <form>
        <div class="table-responsive">
            <br>
            <h3>
                <i class="fa fa-tag"></i>
                <small> {{ 'Add Collection' | translate }}</small>
            </h3>
            <hr>
            <div class="add-product-content">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-block">

                            <div class="md-form">
                                <input type="text" id="title" name="title" class="form-control" required
                                       [value]="_categoryName"
                                       (change)="_onNameChange($event.target.value)">
                                <label for="title" class="">{{ 'Title' | translate }}</label>
                            </div>
                          {{ 'Description' | translate }}
                            <textarea [value]="_categoryDescription" (onChange)="_onDescriptionChange($event.target.value)"></textarea>
                        </div>
                    </div>
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="card-block">
                                    <b>{{ 'Products' | translate }}</b><br/><br/>
                                    <div class="row" *ngFor="let product of _products">
                                        <div class="col-md-6 checkbox-container">
                                            <label [attr.for]="product._id">{{product.title | mongoTranslate}}</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="card-block">
                                    <b>{{ 'Visibility' | translate }}</b><br/><br/>
                                    <div class="row">
                                        <div class="col-md-12 checkbox-container">
                                            <input type="checkbox" [checked]="_category.isVisible" [(ngModel)]="_category.isVisible"  name="is-visible" id="is-visible" class="checkbox"/>
                                            <label for="is-visible" class="checkbox-text">{{ "Show this product in the store" | translate }}</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br/></br>
            <hr>
            <div class="bottom-button">
                <button type="button" class="btn btn-primary save-button pull-right">{{'Save Collection' | translate }}</button>
                <button type="button" class="btn btn-primary-outline pull-right">{{'Cancel' | translate }}</button>
            </div>
        </div>
    </form>
</div>
</br></br>
