<modal-message (onClose)="_onModalClosed($event)"></modal-message>
<div class="container-fluid">
    <form>
        <div class="table-responsive">
            <br>
            <h3>
                <i class="fa fa-tag"></i>
                <small> {{ 'Add Collection' | translate }}</small>
            </h3>
            <hr>
            <div class="add-product-content">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-block">

                            <div class="md-form">
                                <input type="text" id="title" name="title" class="form-control" required
                                       [value]="_categoryName"
                                       (change)="_onNameChange($event.target.value)">
                                <label for="title" class="">{{ 'Title' | translate }}</label>
                            </div>
                          {{ 'Description' | translate }}
                          <text-editor [model]="_categoryDescription" (modelChange)="_onDescriptionChange(model)"></text-editor>
                        </div>
                    </div>
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="card-block">
                                    <b>{{ 'Visibility' | translate }}</b><br/><br/>
                                    <div class="row">
                                        <div class="col-md-12 checkbox-container">
                                            <input class='hidden' type="checkbox" [checked]="_category.active" [(ngModel)]="_category.active"  name="is-visible" id="is-visible" class="checkbox"/>
                                            <label for="is-visible" class="checkbox-text">{{ "Show this category in the store" | translate }}</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br/></br>
            <hr>
              <div class="bottom-button">
                  <button *ngIf="_isEditMode" type="button" (click)="_deleteCategory()" style="margin-left: 100px" class="btn btn-danger pull-left">{{'Delete' | translate }}</button>
                  <button *ngIf="!_isEditMode"  type="button" (click)="_saveCategory()" class="btn btn-primary save-button pull-right">{{'Create' | translate }}</button>
                  <button *ngIf="_isEditMode" type="button" (click)="_updateCategory()" class="btn btn-primary save-button pull-right">{{'Update' | translate }}</button>
                  <button type="button" (click)="_onCancel()" class="btn btn-primary-outline pull-right">{{'Cancel' | translate }}</button>
              </div>
        </div>
    </form>
</div>
</br></br>
