<biglup-modal-message (onClose)="_onModalClosed($event)"></biglup-modal-message>

<h1>
  <i class="fa fa-tag"></i>
  <small> {{ 'Add Collection' | translate }}</small>
</h1>
<br>
<hr>
</br>
<div class="add-collection-grid">
  <md-grid-list cols="1" *ngIf="_category.name[0]">
    <md-tab-group>
      <md-tab *ngFor="let lang of _i18nService.getSupportedLanguages()">
        <template md-tab-label>{{lang}}</template>
        <template md-tab-content>
          <br>
          <i18n-input [(model)]="_i18nNameReferenceMap[lang]" [placeholder]="_getTitleTranslation()"></i18n-input>
          <br>
          <br>
          {{ 'Description' | translate }}
          <i18n-text-editor [(model)]="_i18nInfoReferenceMap[lang]"></i18n-text-editor>
        </template>
      </md-tab>
    </md-tab-group>
    <br>
    <md-card>
      {{ 'Visibility' | translate }}<br/><br/>
      <md-checkbox [(ngModel)]="_category.active">
        {{ "Show this category in the store" | translate }}
      </md-checkbox>
    </md-card>
  </md-grid-list>
</div>
<br>
<button class="add-collection-left-buttons add-collection-buttons"
        md-raised-button
        *ngIf="_isEditMode"
        (click)="_deleteCategory()"
        color="warn">{{'Delete' | translate }}
</button>

<button class="add-collection-right-buttons add-collection-buttons"
        md-raised-button
        *ngIf="!_isEditMode"
        (click)="_saveCategory()"
        color="primary">{{'Create' | translate }}
</button>

<button class="add-collection-right-buttons add-collection-buttons"
        md-raised-button
        *ngIf="_isEditMode"
        (click)="_updateCategory()"
        color="primary">{{'Update' | translate }}
</button>

<button class="add-collection-right-buttons add-collection-buttons"
        md-raised-button
        (click)="_onCancel()">{{'Cancel' | translate }}
</button>
<br><br>
