<div class="nav-side-menu">
    <div class="brand"> <a [routerLink]="['']">Ecommerce</a></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a [routerLink]="['dashboard']">
                    <i class="fa fa-home fa-lg"></i> Dashboard
                </a>
            </li>
            <li>
                <a [routerLink]="['orders']">
                    <i class="fa fa-inbox fa-lg"></i> Orders
                </a>
            </li>
            <li>
                <a [routerLink]="['customers']">
                    <i class="fa fa-users fa-lg"></i> Customers
                </a>
            </li>

            <li data-toggle="collapse" data-target="#products" class="collapsed active">
                <a [routerLink]="['products']"><i class="fa fa-tags fa-lg"></i> Products<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li class="active"><a [routerLink]="['products/view']">View Products</a></li>
                <li><a [routerLink]="['products/add']">Add Product</a></li>
                <li><a [routerLink]="['products/edit']">Edit Product</a></li>
            </ul>


            <li  data-toggle="collapse" data-target="#categories" class="collapsed active">
                <a [routerLink]="['categories']"><i class="fa fa-list-ol fa-lg"></i> Categories<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="categories">
                <li class="active"><a [routerLink]="['categories/view']">View Categories</a></li>
                <li><a [routerLink]="['categories/add']">Add Category</a></li>
                <li><a [routerLink]="['categories/edit']">Edit Category</a></li>
            </ul>
            <li>
                <a [routerLink]="['reports']">
                    <i class="fa fa-bar-chart fa-lg"></i> Reports
                </a>
            </li>
        </ul>
    </div>
</div>