<div class="nav-side-menu">
  <div class="brand"><a [routerLink]="['']">{{'Ecommerce' | translate }}</a></div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <a [routerLink]="['dashboard']">
          <i class="fa fa-home fa-lg"></i> {{'Dashboard' | translate }}
        </a>
      </li>
      <li>
        <a [routerLink]="['orders']">
          <i class="fa fa-inbox fa-lg"></i> {{'Orders' | translate }}
        </a>
      </li>
      <li>
        <a [routerLink]="['customers']">
          <i class="fa fa-users fa-lg"></i> {{'Customers' | translate }}
        </a>
      </li>

      <li data-toggle="collapse" data-target="#products" class="collapsed active">
        <a [routerLink]="['products']"><i class="fa fa-tags fa-lg"></i> {{'Products' | translate }}<span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products">
        <li class="active"><a [routerLink]="['products']">{{'Products' | translate }}</a></li>
        <li><a [routerLink]="['products/inventory']">{{'Inventory' | translate }}</a></li>
        <li><a [routerLink]="['collections']">{{'Collections' | translate }}</a></li>
      </ul>
      <li>
        <a [routerLink]="['reports']">
          <i class="fa fa-bar-chart fa-lg"></i> {{'Reports' | translate }}
        </a>
      </li>
    </ul>
  </div>
</div>
