/* YOUR CUSTOM STYLES */

/* The great Fusilation of premium mdb buttons colors */
.btn-fb {
    background-color: #3B5998;
}

.btn-tw {
    background-color: #55ACEE;
}

.btn-gplus {
    background-color: #DD4B39;
}

.btn-li {
    background-color: #0082CA;
}

.btn-git {
    background-color: #4183C4;
}

.btn-pin {
    background-color: #C61118;
}

.btn-ins {
    background-color: #3F729B;
}

.product-social-btn {
    margin: 10px;
    border-radius: 40%;
}
