.header-cart
{
  width: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.cart-item-wrapper
{
  color: white;
  position: absolute;
  z-index: 20;
}

.cart-item-image
{
  max-height: 96px;
  max-width: 96px;
}
