<modal-message (onClose)="_onModalClosed($event)"></modal-message>

<h1>
  <i class="fa fa-tag"></i>
  <small> {{ 'Add Product' | translate }}</small>
</h1>
<hr>
<br>
<div class="add-product-grid">
  <md-grid-list cols="1" *ngIf="_product.title[0]">
    <md-card>
      <md-tab-group>
        <md-tab *ngFor="let lang of _i18nService.getSupportedLanguages()">
          <md-card-content>
            <template md-tab-label>{{lang}}</template>
            <template md-tab-content>
              <br>
              <i18n-input [(model)]="_i18nTitleReferenceMap[lang]" [placeholder]="_getTitleTranslation()"></i18n-input>
              <br>
              <br>
              {{ 'Description' | translate }}
              <i18n-text-editor [(model)]="_i18nDescReferenceMap[lang]"></i18n-text-editor>
            </template>
          </md-card-content>
        </md-tab>
      </md-tab-group>
    </md-card>
    <br>
    <md-card>
      <product-image-manager #imagesManager [(model)]="_product.images"></product-image-manager>
    </md-card>

    <br>
    <md-card>
      <b>{{ 'Pricing' | translate }}</b><br/><br/>
      <md-input type="number" style="width: 49%" placeholder="Price" align="end" [(ngModel)]="_product.price">
        <span md-prefix></span>
        <span md-suffix>&nbsp;$</span>
      </md-input>
      <md-input type="number" style="width: 49%" placeholder="Discount" align="end" [(ngModel)]="_product.discount">
        <span md-prefix></span>
        <span md-suffix>&nbsp;%</span>
      </md-input>
    </md-card>

    <br>
    <md-card>
      <b>{{ 'Categories' | translate }}</b><br/><br/>
      <md-checkbox *ngFor="let category of _categoriesService.getCategories() | async"
                   [checked]="_productHasCategory(category._id)"
                   (change)="_onCategoryToggle(category._id, $event.checked)">
        {{category.name | mongoTranslate}}
      </md-checkbox>
    </md-card>
    <br>
    <md-card>
      <b>{{ 'Inventory' | translate }}</b><br/><br/>
      <md-input style="width: 49%" placeholder="SKU (Stock Keeping Unit)" [(ngModel)]="_product.sku" name="sku" id="sku"></md-input>
      <md-input style="width: 49%" placeholder="Barcode (ISBN, UPC, GTIN, etc.)" id="barcode" [(ngModel)]="_product.barcode" name="barcode""></md-input>
      <br>
      <br>

      <b>{{ 'Inventory Policy' | translate }}</b>
      <br>
      <br>
      <md-checkbox [(ngModel)]="_product.trackInventory">
        {{ 'Track Inventory' | translate }}
      </md-checkbox>

      <md-input type="number" *ngIf="_product.trackInventory" style="width: 49%; float: right" placeholder="Quantity" [(ngModel)]="_product.stock" id="quantity" name="quantity"></md-input>

      <div class="clearfix"></div>

      <md-checkbox *ngIf="_product.trackInventory" [(ngModel)]="_product.isBackorder" name="allow-backorder" id="allow-backorder">
        {{ "Allow customers to purchase this product when it's out of stock" | translate }}
      </md-checkbox>

      <md-checkbox [(ngModel)]="_product.requiresShipping">
        {{ "This product requires shipping" | translate }}
      </md-checkbox>
    </md-card>
    <br>
    <md-card>
      <b>{{ 'Visibility' | translate }}</b><br/><br/>
      <md-checkbox [(ngModel)]="_product.isVisible">
        {{ "Show this product in the store" | translate }}
      </md-checkbox>
    </md-card>
  </md-grid-list>
</div>
<br>
<button class="add-product-left-buttons add-product-buttons"
        md-raised-button
        *ngIf="_isEditMode"
        (click)="_deleteProduct()"
        color="warn">{{'Delete' | translate }}
</button>

<button class="add-product-right-buttons add-product-buttons"
        md-raised-button
        *ngIf="!_isEditMode"
        (click)="_saveProduct()"
        color="primary">{{'Create' | translate }}
</button>

<button class="add-product-right-buttons add-product-buttons"
        md-raised-button
        *ngIf="_isEditMode"
        (click)="_updateProduct()"
        color="primary">{{'Update' | translate }}
</button>

<button class="add-product-right-buttons add-product-buttons"
        md-raised-button
        (click)="_onCancel()">{{'Cancel' | translate }}
</button>
