<div class="container-fluid">
  <div class="table-responsive">
    <br>
    <h3>
      <i class="fa fa-tag"></i>
      <small> {{ 'Add Product' | translate }}</small>
    </h3>
    <hr>
    <div class="col-md-12">
      <!--Card-->
      <div class="card">
        <!--Card content-->
        <div class="card-block">

          <div class="md-form">
            <input type="text" id="form1" class="form-control">
            <label for="form1" class="">Title</label>
          </div>
           Description
          <textarea></textarea>
        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card-->

      <!--Card-->
      <images-uploader></images-uploader>
      <!--/.Card-->
    </div>
  </div>
</div>
