.add-product-grid {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.add-product-right-buttons {
    float:right;
}

.add-product-left-buttons {
    float:left;
}

.add-product-buttons {
    margin-left: 20px!important;
    margin-right: 20px!important;
}
