<div class="header-cart">
  <i class="fa fa-shopping-cart"></i>
  <span>{{ _getCartItemCount() }}</span>
</div>

<div class="cart-item-wrapper">
  <template *ngIf="_hasItems()" ngFor let-item [ngForOf]="_items">
    <p>
      <md-card>
        <md-card-header>
          <img class="cart-item-image" md-card-avatar [src]="item.image" [alt]="item.title | mongoTranslate">
          <md-card-title>{{ item.title | mongoTranslate }}</md-card-title>
          <md-card-subtitle><em>Amount: {{ item.quantity }}</em></md-card-subtitle>
        </md-card-header>

        <md-card-actions>
          <button md-button (click)="_onClickRemoveItem(item)">{{ 'Remove' | translate}}</button>
        </md-card-actions>
      </md-card>
    </p>
  </template>
</div>
