@import 'mixins';

@include google-font('Noto+Sans');
@include google-font('Noto+Serif');

$text-color:    black;
$quiet-color:   #343434;
$loud-color:    black;
$heading-color: black;

$link-color:         black;
$link-visited-color: black;
$link-hover-color:   black;

$base-font-family: 'Noto Sans', sans-serif;
$base-font-size:   18px;
$base-font-weight: 300;

$fixed-font-family: 'Noto Sans', monospace;
$fixed-font-size:   15px;
$fixed-line-height: 1.2;

$heading-font-family: 'Noto Serif', sans-serif;
$heading-font-weight: 700;

/**
 * @summary Resets inherited text style.
 */
@mixin reset-text() {
  font-family: $base-font-family;
  // We deliberately do NOT reset font-size.
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  text-align: left; // Fallback for where `start` is not supported
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}