@import 'base';

$button-padding:       4px 12px !default;
$button-min-width:     88px     !default;
$button-margin:        0        !default;
$button-line-height:   36px     !default;
$button-border-radius: 4px      !default;

[biglup-button]{
    position:      relative;
    font-family:   $base-font-family;
    display:       inline-block;
    overflow:      hidden;
    border:        0;
    outline:       0;
    background:    0;
    cursor:        pointer;

    margin:        $button-margin;
    min-width:     $button-min-width;
    line-height:   $button-line-height;
    padding:       $button-padding;
    border-radius: $button-border-radius;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;

    -webkit-transition: box-shadow .2s;
       -moz-transition: box-shadow .2s;
        -ms-transition: box-shadow .2s;
         -o-transition: box-shadow .2s;
            transition: box-shadow .2s;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;

    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    .touch{
        background: rgba(100,100,100,.1);
        pointer-events: none;
        border-radius: 100%;
    }

    &.primary {
        color:      $button-text-and-icon-color;
        background: $primary-color;
    }
    &.accent {
        color:      $button-text-and-icon-color;
        background: $accent-color;
    }
    &.warn {
        color:      $button-text-and-icon-color;
        background: $warn-color;
    }
    &.monochrome {
        color:      black;
        background: white;
    }

    &.monochrome-inverted {
        color:      white;
        background: black;
    }

    &.primary-flat {
        background: white;
        color: $primary-color;
    }
    &.accent-flat {
        background: white;
        color: $accent-color;
    }
    &.warn-flat {
        background: white;
        color: $warn-color;
    }
    &.monochrome-flat {
        color:      black;
        background: white;
    }

    &.monochrome-inverted-flat {
        color:      white;
        background: black;
    }

    &.overflow{
        overflow: visible;
    }

    &.raised{
        transition: box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        border-radius: $button-border-radius;
    }

    &:focus, :active{
        -moz-outline-style: none;
    }

    i {
        padding-right: 5px;
        vertical-align: middle;
    }

    &.raised:active{
        box-shadow: 0 8px 10px 0 rgba(0,0,0,.5);
    }

    &.disabled {
        background: $disabled-background-color;
        color: $disabled-text-color;
        box-shadow: none !important;
        cursor: no-drop;
    }

    &.disabled-flat {
        background: white;
        color: $disabled-text-color;
        box-shadow: none !important;
        cursor: no-drop;
    }
}
