@import 'base';

.biglup-checkbox {
    cursor: default;
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;
    label {
        cursor: pointer;
    }

    .biglup-checkbox-text {
        display: inline-block;
    }

    .biglup-checkbox-text-disabled {
        display: inline-block;
        color: $disabled-text-color;
        cursor: default;
    }

    .biglup-checkbox-body-enabled {
        border-color: black;
    }

    .biglup-checkbox-body-disabled {
        border-color: $disabled-text-color!important;
        cursor: default!important;
    }

    .biglup-checkbox-body-disabled-checked {
        background-color: $disabled-text-color!important;
        border-color: $disabled-text-color!important;
        cursor: default!important;
    }

    .biglup-checkbox-body {
        border: 2px solid;
        border-radius: 2px;
        content: '';
        height: 19px;
        transition: 240ms;
        width: 19px;
        cursor: pointer;
        margin-right: 5px;
        float: left;
    }

    .biglup-checkbox-checkmark {
        -webkit-animation: biglup-checkbox-checkmark-show 140ms ease-out forwards;
        animation: biglup-checkbox-checkmark-show 140ms ease-out forwards;
        display: table;
        width: 7px;
        margin-left: 4px;
        float: left;
        height: 12px;
        border: 2px solid white;
        border-top: 0;
        border-left: 0;
        content: '';
        cursor: inherit;
    }

    .biglup-checkbox-body-active {
        background-color: $primary-color;
        border-color: $primary-color;
    }
}

@keyframes biglup-checkbox-checkmark-show {
    from {
        -webkit-transform: scale(0) rotate(45deg);
        transform: scale(0) rotate(45deg);
    }
    to {
        -webkit-transform: scale(1) rotate(45deg);
        transform: scale(1) rotate(45deg);
    }
}
