@import 'base';

.biglup-data-table-container {
  display: block;
  max-width: 100%;
  @include elevation(1);

  .biglup-data-table-title {
      font-size: 20px!important;
      -webkit-font-smoothing: antialiased;
      color: rgba(0, 0, 0, .87)!important;
      margin-top: 40px!important;
      margin-left: 15px!important;
      float: left;
  }

  .biglup-data-table-input {
    padding-right: 25px;
    float: right;
    width: 200px;
    margin-bottom: -15px;
  }

  .biglup-data-table-header {
    width: 100%;
    display: inline-block;
  }

  .biglup-data-table-body {
    overflow: auto;
    -webkit-overflow: auto;
  }
}

.biglup-data-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
  border-spacing: 0;
  border-collapse: collapse;
  > {
    thead > tr, tbody > tr, tfoot > tr {
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      white-space:nowrap;
      table-layout:fixed;
    }

    thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
      text-align: left;
      padding: 0.9rem;
      vertical-align: middle;
      border-bottom: 1px solid $light-theme-divider-color;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    thead > tr > th {
      color: #757575;
      vertical-align: bottom;
    }
    caption + thead > tr:first-child > th, colgroup + thead > tr:first-child > th, thead:first-child > tr:first-child > th, caption + thead > tr:first-child > td, colgroup + thead > tr:first-child > td, thead:first-child > tr:first-child > td {
      border-top: 0;
    }
    tbody + tbody {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }

    tbody > td {
      min-width: 56px;
    }
  }
  .biglup-data-table {
    background-color: #fff;
  }

  .biglup-icon-button-sort-icon {
    font-size: 13px!important;
    display:  inline-block;
    position: relative;
    width: 100%;
    text-align: left;
    margin:0!important;

    [biglup-icon-button] {
      margin:0 0 -5px -1px!important;
    }
  }

  .biglup-icon-button-column-title {
    font-size: 13px;
    color: rgba(0, 0, 0, .87);
    margin-top: -12px;
    float: left;
    display: inline-block!important;
  }

  td.biglup-data-table-checkbox-cell,
  th.biglup-data-table-checkbox-column {
    width: $checkbox-size;
    font-size: 0 !important;
  }
}