.ripple {
    display: inline-block;
}

.ripple-variable {
    overflow: hidden;
}

.ripple-fixed {
    overflow: visible;
}

.ripple-effect {
    position: absolute;
    border-radius: 50%;
    background: transparent;
    opacity: 0.4;
}

.fixed-ripple-effect {
    position: absolute;
    border-radius: 50%;
    background: transparent;
    opacity: 0.2;
    z-index: -1;
}

.ripple-effect-on {
    @extend .ripple-effect;
    animation: ripple-animation-on 3000ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.ripple-effect-off {
    animation: ripple-animation-off 3000ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.fixed-ripple-effect-on {
    @extend .ripple-effect;
    animation: fixed-ripple-animation-on 100ms ease forwards;
}

.fixed-ripple-effect-off {
    animation: fixed-ripple-animation-off 300ms ease forwards;
}

@keyframes ripple-animation-on {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(3.8);
        transform: scale(3.8);
    }
}

@keyframes ripple-animation-off {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        -webkit-transform: scale(3.8);
        transform: scale(3.8);
        opacity: 0.0;
    }
}

@keyframes fixed-ripple-animation-on {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(4);
        transform: scale(4);
    }
}

@keyframes fixed-ripple-animation-off {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 0.0;
    }
}
