@import 'base';

.ripple {
    display: inline-block;
}

.ripple-variable {
    overflow: hidden;
}

.ripple-fixed {
    overflow: visible;
}

.ripple-effect {
    position: absolute;
    border-radius: 50%;
    background: transparent;
    opacity: 0.4;
}

.fixed-ripple-effect {
    position: absolute;
    border-radius: 50%;
    background: transparent;
    opacity: 0.0;
    z-index: 0;
}

.ripple-effect-on {
    @extend .ripple-effect;
    animation: ripple-animation-on 1500ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.ripple-effect-off {
    animation: ripple-animation-off 1500ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.fixed-ripple-effect-on {
    @extend .ripple-effect;
    animation: fixed-ripple-animation-on 100ms forwards;
}

.fixed-ripple-effect-off {
    animation: fixed-ripple-animation-off 300ms forwards;
    color: $primary-color;
    pointer-events: none;
}

.icon-ripple-effect-on {
  @extend .ripple-effect;
  animation: icon-ripple-animation-on 100ms forwards;
}

.icon-ripple-effect-off {
  animation: icon-ripple-animation-off 300ms forwards;
  color: $primary-color;
  pointer-events: none;
}

@keyframes ripple-animation-on {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(3.8);
        transform: scale(3.8);
    }
}

@keyframes ripple-animation-off {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        -webkit-transform: scale(3.8);
        transform: scale(3.8);
        opacity: 0.0;
    }
}

@keyframes fixed-ripple-animation-on {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.0;
    }
    to {
        opacity: 0.2;
        -webkit-transform: scale(4.5);
        transform: scale(4.5);
    }
}

@keyframes fixed-ripple-animation-off {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 0.0;
    }
}

@keyframes icon-ripple-animation-on {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.0;
  }
  to {
    opacity: 0.2;
    -webkit-transform: scale(3.7);
    transform: scale(3.7);
  }
}

@keyframes icon-ripple-animation-off {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.0;
  }
}
