<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form [formGroup]="_loginForm" id="login-form">
        <div class="md-form">
          <input type="email" id="login-form-email" class="form-control">
          <label for="login-form-email">Email</label>
        </div>

        <div class="md-form">
          <input type="password" id="login-form-password" class="form-control">
          <label for="login-form-password">Password</label>
        </div>
        <div class="md-form form-group">
          <button class="btn btn-primary btn-lg">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
