<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-block">
          <form [formGroup]="_signUpForm" id="signup-form" (submit)="_onSubmit($event)">
            <div class="md-form">
              <input type="email"
                     id="signup-form-email"
                     class="form-control"
                     formControlName="email">
              <label for="signup-form-email">Email</label>
            </div>

            <div class="md-form">
              <input type="password"
                     id="signup-form-password"
                     class="form-control"
                     formControlName="password">
              <label for="signup-form-password">Password</label>
            </div>

            <div class="md-form">
              <input type="password"
                     id="signup-form-confirmation"
                     class="form-control"
                     formControlName="confirmation">
              <label for="signup-form-confirmation">Confirm password</label>
            </div>

            <!--TODO refactor into a component-->
            <div id="signup-form-password-error"
                 class="font-italic text-danger"
                 *ngIf="_hasConfirmationError()">
              The password and the confirmation provided are not matching.
            </div>

            <div id="signup-form-error"
                 class="font-italic"
                 [ngClass]="_error.cssClass"
                 *ngIf="!_signUpForm.valid && _signUpForm.errors">
              <i class="fa fa-warning"></i>{{ _error.message }}
            </div>

            <div class="md-form form-group text-xs-center" id="signup-form-submit">
              <button class="btn btn-primary btn-lg btn-block" [disabled]="!_signUpForm.valid">
                {{ 'Register' | translate }}
              </button>
            </div>

            <div class="modal-footer" id="signup-form-oauth">
              <div class="options">
                <p>
                  {{ 'Or signup with' | translate }}
                </p>

                <p>
                  <button class="btn btn-fb btn-lg btn-block" (click)="_oAuthFacebook()">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    Facebook
                  </button>
                </p>

                <p>
                  <button class="btn btn-gplus btn-lg btn-block" (click)="_oAuthGoogle()">
                    <i class="fa fa-google" aria-hidden="true"></i>
                    Google
                  </button>
                </p>

                <p>
                  <button class="btn btn-tw btn-lg btn-block" (click)="_oAuthTwitter()">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    Twitter
                  </button>
                </p>
              </div>
            </div>

            <div class="modal-footer">
              <div class="options">
                <p>
                  {{ 'Already a member' | translate }}?
                  <a [routerLink]="['/signup']">{{ 'Login' | translate }}</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
