<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-block">
          <form [formGroup]="_signUpForm" id="signup-form" (submit)="_onSubmit($event)">
            <div class="md-form">
              <input type="email"
                     id="signup-form-email"
                     class="form-control"
                     formControlName="email">
              <label for="signup-form-email">Email</label>
            </div>

            <div class="md-form">
              <input type="password"
                     id="signup-form-password"
                     class="form-control"
                     formControlName="password">
              <label for="signup-form-password">Password</label>
            </div>

            <div class="md-form">
              <input type="password"
                     id="signup-form-confirmation"
                     class="form-control"
                     formControlName="confirmation">
              <label for="signup-form-confirmation">Confirm password</label>
            </div>
            <form-error [formId]="'signup-password'"
                        class="text-danger"
                        [message]="'The password and the confirmation provided are not matching.'"
                        *ngIf="_hasConfirmationError()"></form-error>

            <form-error [formId]="'signup-generic'"
                        [classes]="_error.cssClass"
                        [message]="_error.message"
                        *ngIf="!_signUpForm.valid && _signUpForm.errors"></form-error>

            <div class="md-form form-group text-xs-center" id="signup-form-submit">
              <button class="btn btn-primary btn-lg btn-block" [disabled]="!_signUpForm.valid">
                {{ 'Register' | translate }}
              </button>
            </div>

            <oauth-login (errorEvent)="_processError($event)"></oauth-login>

            <div class="modal-footer">
              <div class="options">
                <p>
                  {{ 'Already a member' | translate }}?
                  <a [routerLink]="['/login']">{{ 'Login' | translate }}</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
