<biglup-modal-message (onClose)="_onModalClose($event)"></biglup-modal-message>
<h4 class="biglup-collections-title">{{ 'Collections' | translate }}</h4>
<biglup-breadcrumb>
  <a [routerLink]="['/dashboard']"><i class="material-icons md-16">home</i>{{ 'Dashboard' | translate }}</a>
  <a class="active"><i class="material-icons md-16">card_travel</i>{{ 'Collections' | translate }}</a>
</biglup-breadcrumb>
<biglup-data-table
  icon='card_travel'
  title="{{ 'Collection List' | translate }}"
  (delete)="_onDelete($event)"
  (edit)="_onEdit($event)"
  [columns]="_dataTableColums"
  [dataStream]="_categoriesService.getCategories()">
</biglup-data-table>
<div class="collections-add-collection-button">
  <biglup-button
    [routerLink]="['/collections/add-collection']"
    raised="true" color="primary">{{'Add Collection' | translate }}
  </biglup-button>
</div>
