.ripple {
    overflow: hidden;
    display: inline-block;
}

.ripple-effect {
    position: absolute;
    border-radius: 50%;
    background: white;
    opacity: 0.2;
}

.ripple-effect-on {
    @extend .ripple-effect;
    animation: ripple-animation-on 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.ripple-effect-off {
    animation: ripple-animation-off 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes ripple-animation-on {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(2.4);
        transform: scale(2.4);
    }
}

@keyframes ripple-animation-off {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.2;
    }
    to {
        -webkit-transform: scale(2.4);
        transform: scale(2.4);
        opacity: 0.0;
    }
}
