<nav id="primary_nav_wrap"
     [style.background-color]="_style.menuBackgroundColor"
     [style.color]="_style.menuFontColor">
  <ul>
    <li *ngFor="let category of _categoriesService.getRootCategories() | async">
      <a [routerLink]="['/category', category._id]" [class.isSubmenu]="category.denormalizedSubcategories && category.denormalizedSubcategories.length > 0" >{{category.name | mongoTranslate}}</a>
      <ul *ngIf="category.denormalizedSubcategories && category.denormalizedSubcategories.length > 0">
        <li *ngFor="let subCategory of category.denormalizedSubcategories"><a [routerLink]="['/category', subCategory._id]">{{subCategory.name | mongoTranslate}}</a></li>
      </ul>
    </li>
  </ul>
</nav>