<nav id="primary_nav_wrap">
  <ul>
    <li *ngFor="let category of _categoriesService.getRootCategories() | async">
      <a [routerLink]="['/category', category._id]" [class.isSubmenu]="_categoriesService.hasSubcategories(category._id) | async" >{{category.name | mongoTranslate}}</a>
      <ul *ngIf="_categoriesService.hasSubcategories(category._id) | async">
        <li *ngFor="let subCategory of _categoriesService.getSubCategories(category._id) | async"><a [routerLink]="['/category', subCategory._id]">{{subCategory.name | mongoTranslate}}</a></li>
      </ul>
    </li>
  </ul>
</nav>