@import '{biglup:ui}/client/stylesheets/partials/base';

.add-product-content
{
  .add-product-variants-button-center {
    text-align: center;
  }

  .biglup-add-product-title {
    color: $secondary-text-color;
    margin: 0;
    margin-bottom: 20px;
  }

  .biglup-paper-1 {
    width: 100%;
    margin: 0;
    margin-bottom: 24px;
  }

  .biglup-tabs-container {
    margin-left: 0;
    margin-bottom: 0;
  }

  .add-product-right-buttons {
    float:right;
  }

  .add-product-left-buttons {
    float:left;
  }

  .add-product-buttons {
    margin-bottom: 20px!important;
  }

  .add-product-buttons-cancel {
    margin-bottom: 20px!important;
    margin-right: 20px!important;
  }

  #quantity > div {
    margin: 0!important;
  }

  .add-variant-product-buttons {
    button {
      position: absolute;
      top: 50%;
    }
  }

  .add-product-variants-enable-center {
    text-align: center;
    width: 100%;
    .check-container {
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .add-product-variants-labels-center {
    width: 100%;
    .labels-container {
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .color-variant-label {
    color: #ff881d;
    line-height: 25px;
    font-size: 15px;
  }

  .size-variant-label {
    color: rgba(0, 129, 9, 0.67);
    line-height: 25px;
    font-size: 15px;
  }

  .material-variant-label {
    color: rgba(105, 61, 195, 0.73);
    line-height: 25px;
    font-size: 15px;
  }

  .add-product-variant-color-label {
    font-size: 15px;
  }

  .add-product-category-list {
    list-style: none;

    .add-product-category-list {
      margin-left: 35px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}